body, main, section, div, span, nav, h1, h2, h3, h4, h5, h6, img, br, hr {
    margin: 0 auto;
    padding: 0 auto;
    font: 500 normal 16px "Segoe UI", system-ui;
}

.topNav {
    margin: 20px;
}

.topNav > h1{
   font-size: 36px;
   font-weight: 700; 
}

.secTitle {
    font-size: 40px;
}

#mainContent {
  margin: 10px;
  font-size: 40px;
}

#mainContent .secTitle {
  padding-top: 20px;
  padding-bottom: 20px;
}